/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 avr. 2017, 11:12:35
    Author     : CAMUGLIAL_INFO
*/

.red{
    color:red;
}
.green{
    color:green;
}

.route{
    margin-top:10px;  
    padding: 10px;

}

.route:hover{
    background-color: #e3e6e8;
}
.routes{
    height: 80%;
    border: 1px  solid black;
    overflow: auto;   

}

.highlight{
    background-color: #e3e6e8;
}

#pointsInfo{
    height: 200px;
    overflow: auto;
}
#pointsInfo div{
    margin-top: 10px;
}

.top-buffer{
    margin-top: 20px !important;
}

.align-middle {

    padding-top: 35px !important;
    //float: none;
}

.valign{
    vertical-align: middle !important;
}

.no-border{
    border : none;
    border-left: 0px !important;
    border-right: 0px !important;
}

.disabled {
    cursor: no-drop !important;   
    //  cursor: no-drop !important;
}
.disabled a{
    pointer-events: none;
}

.by{
    color: #aaa;
    font-size: 12px;
    text-align: right;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modalLoad {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
        url('../JS/ajax-loader.gif') 
        50% 50% 
        no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalLoad {
    display: block;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}
#pac-input:focus {
    border-color: #4d90fe;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

